@model KloudKampusApp.Models.Trainer


<div class="card">
    <div class="card-header">

        @Model.TrainerName

    </div>
    <div class=card-body>
       Skills : @Model.Skills<br/>
     Years Of Experience :   @Model.YearsOfExperience
    </div>
</div>