@model IEnumerable<KloudKampusApp.Models.Trainer>


    <a asp-action="AddNewTrainer" class="btn btn-secondary">Add New Trainer</a>
    <br/>
    <br/><br/>
    <p> Trainer Detail</p>

    <table class="table table-bordered">
<tr>
    <th>Trainer Name</th>
    <th>Skills</th>
    <th>Action</th>

</tr>
@foreach (var item in Model)
{
    <tr>
        <td>
        
<a asp-action="GetTrainerDetail" asp-route-TrainerId=@item.TrainerId >@item.TrainerName</a>
            
            
        
        </td>
        <td>@item.Skills</td>
        <td>

            <a asp-action="DeleteTrainer" asp-route-trainerId=@item.TrainerId >Delete</a>


        </td>
          
    </tr>
}
    </table>